.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar > ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar > ul > li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
