.home-landscape {
  position: absolute;
  bottom: 0;
  width: 2300px;
  margin: 0 0 -165px -710px;
}

.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: auto;
}

.main-home {
    background-image: linear-gradient(
        to right bottom,
        #f5e674,
        #dee76e,
        #c4e76c,
        #a7e76e,
        #85e774,
        #66e283,
        #44dd92,
        #00d79f,
        #00cbad,
        #00bdb6,
        #00afb9,
        #10a1b5
      );
      background-size: 100% 100%;
}

.sunrise-balloon {
  height: 190px;
  margin: 100px 0 0 700px;
  animation-name: floating;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.striped-balloon {
  height: 70px;
  margin-top: 100px;
  margin-left: 200px;
  animation-name: floating;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.right-cloud {
  height: 180px;
  margin: -100px 0px 0 1090px;
}

.left-cloud {
  height: 150px;
  margin-top: -120px;
}
