.home-landscape {
    position: absolute;
    bottom: -150px;
    /* right: -50; */
    left: -450px;
    width: auto;
    height: 500px;
    /* object-fit: fill */
    /* margin: 0 0 -165px -710px; */
}

  /* .main-home {
      background-image: url(../../img/landscape-edit2.svg) no repeat center bottom fixed;
      background-size: cover;
      bottom: 0;
      /* background-position: center bottom; */


.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 580px;
  height: auto;
}

.sunrise-balloon {
  height: 190px;
  margin: 100px 0 0 700px;
  animation-name: floating;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.striped-balloon {
  height: 70px;
  margin-top: 100px;
  margin-left: 200px;
  animation-name: floating;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.right-cloud {
  height: 180px;
  margin: -100px 0px 0 1090px;
}

.left-cloud {
  height: 150px;
  margin-top: -120px;
}
