/* TODO Add site wide styles */
/* html {
    height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: auto;
  background-size: 100% 100%;
}

main {
  display: flex;
  position: relative;
} */
/* body {
  background-image: linear-gradient(
    to right bottom,
    #f5e674,
    #dee76e,
    #c4e76c,
    #a7e76e,
    #85e774,
    #66e283,
    #44dd92,
    #00d79f,
    #00cbad,
    #00bdb6,
    #00afb9,
    #10a1b5
  );
  background-size: 100% 100%;
} */
